.display {
  width: 90vw;
  height: 60vh;
  border: 1px solid black;
  margin: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}
.calculatorDisplaySection {
  width: 99.9%;
  height: 20%;
  border: 1px solid black;
}
.calculatorDisplayMatrixInputSection {
  width: 99.9%;
  height: 40%;
  border: 1px solid black;
}
