.display {
  width: 95vw;
  height: 60vh;
  border: 1px solid black;
  /* margin: auto; */
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 1px;
}
.calculatorDisplaySection {
  width: 99.9%;
  height: 20%;
  border: 1px solid black;
  display: flex;
  align-items: center;
}
.calculatorDisplayMatrixInputSection {
  border: 1px solid black;
}
.calculatorDisplayCalculatorInput {
  height: 80%;
  margin-left: 2%;
  resize: none;
}
.DisplayMatrix {
  display: flex;
  align-items: center;
  margin-left: 5%;
}
.DisplayMatrixPart {
  font-size: smaller;
}
[class^="row"] {
  padding: 1px;
  margin: 1px;
}
