.keypad {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70vw;
  height: 30vh;
  border: 1px solid black;
  top: 60vh;
  /* margin: auto; */
  margin-top: 1px;
}
.keypadRow {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.keypadButton {
  margin: 2px;
  width: 60px;
  height: 50px;
  text-align: center;
}
