[class^="row"] {
  /* selects all elements with classname starting with row */
  display: flex;
  flex-direction: row;
}
p {
  padding: 5px;
  margin: 5px;
}
.openBr {
  border: 2px solid black;
  border-right: none;
  width: 5px;
}
.closeBr {
  border: 2px solid black;
  border-left: none;
  width: 5px;
}
.matrixDisplay {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.inputA {
  padding: 5px;
  margin: 5px;
  display: block;
}
.buttonRows {
  padding: 5px;
  margin: 5px;
}
.buttonCols {
  padding: 5px;
  margin: 5px;
}
.buttonSection {
  display: flex;
  align-items: center;
  justify-content: start;
}
.inputMatrixInput {
  margin: 2px;
}
